
/*  НАЧАЛО СТИЛЕЙ БАЗОВЫХ КРИ*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, tr, tbody, tfoot, thead,  th, td, */
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@white: #fff;
h1, h2{
	font-size: 28px;
	color: @white;
}
h3{
	font-size: 24px;
	margin-bottom: 5px;
}
h4{
	font-size: 25px;
	font-weight: normal;
}
h5, h6{
	font-size: 16px;
}
textarea {
  resize: vertical;
}
b, strong{
	font-weight: bold;
}
i{
	font-style: italic;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	.for-transition;
	outline: none;
	color: #3182bf;
}
a:hover{
	text-decoration: none;
	.for-transition;
}
p{
	margin-bottom: 10px;
	font-size: 15px;
	color: #6b6e80;
}
/*
div {border:1px solid #FF0000;}
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.text_center{
	text-align: center;
}
.null{
	clear: both;
}
.right{
	float: right;
}
.left{
	float: left;
}
* {
  margin: 0;
  padding: 0;
}
html {height: 100%;}
* html body {height: 100%;}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
* html #container {
  height: 100%;
}
body {
  background-color: #fff;
  font-size: 16px; 
}
#container{
	width: 100%;
	min-width: 960px;
	min-height: 100%;
	position: relative;
	background-color: #fff;
	z-index: 1;
	margin: 0 auto;
}
.center{
	max-width: 1200px;
	min-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
.raunded(@radius){
	border-radius: @radius;
	-o-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.for-transition{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.for-transition-faster{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.for-transition-none{
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0;
}
.for-shadow(@x:0px, @y:0px, @thickness:25px, @color:#a7a7a6){
	box-shadow: @x @y @thickness @color;
	-o-box-shadow: @x @y @thickness @color;
	-moz-box-shadow: @x @y @thickness @color;
	-webkit-box-shadow: @x @y @thickness @color;
}
.for-inline-block{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
::selection {
	background: #294E79; 
	color: #fff;
}
::-moz-selection {
	background: #294E79; 
	color: #fff;
}

/*  КОНЕЦ СТИЛЕЙ БАЗОВЫХ КРИ*/

* {
  margin: 0;
  padding: 0;
}
html {height: 100%;}
* html body {height: 100%;}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
* html #container {
  height: 100%;
}
/*Общие стили*/
body {
    color:#333;	 
	background:#ffffff;
	height: 100%;
	position: relative;
}
.container { 
	margin:0 auto;
	min-width:1024px;
	max-width:1205px;
	position: relative;
	min-height: 100%;
}
a {
	color:#2b82dc;
}
a:hover {
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
    line-height:1;
	margin:5px 0 10px;
	color:#2ca9e4;
}
h3 {
	font-size:19px;
    font-weight:bold;
}
h4 {
	font-size:16px;
    font-weight:bold;
}
p {
	  
    line-height:1.4;
    font-size:14px;
    margin-bottom:1em
}
ul {
	list-style:none;
}
ol {
	list-style-position:inside
}
header,nav,section,article,aside,footer {
	display:block;
    position:relative;
}
header { 
    margin:10px auto;
	padding-top:30px;
	width:100%;
	height:30px;
}
.secon {
	margin:10px auto; 
	width:100%; 
	height:100px;
}
.logo {
	width:30%;    
	height:64px;
	float:left;
	a{
		display: block;
		width: 110px;
	}
}
.connectiv {
	width:40%;    	
	height:100px;	       	
	float:left;	
}
.r_blok {
	width:30%;    	
	height:100px;
    float:right;
}
.tel {
	text-align:center;  
    margin:10px 0 0 0;
    font-size: 35px;	
    letter-spacing: 5px;
}
.adress {
	text-align:center; 
    margin:0;
    font-size: 14px;
    font-weight: bold;
}	
.spani {
	display: block;
	float:right; 
	/*box-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
	border: 1px solid #B6B2B2;
	border-right: none;
	width: 270px;
	padding: 3px;
}
.submit1 {
	background-image: url(../images/lupa.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	width:27px;
	display: block;
	float:right;
	/*box-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
	border: 1px solid #B6B2B2;
	background-color: #fff;
	padding: 3px;
}

.buton {
	background-color:#4987da;		
	padding:3px 5px;
	width: 157px;
	margin-top: 15px;
	float:right;

}
.buton a {
	color:#ffffff;
	padding:3px 5px;	
}	
nav {
	background:#ffffff;
	font-size:12px;
	margin:10px 0px 0 0;
}
nav ul {
	float:left;
	text-align:left;
}
nav li {
	float:left;
	display:inline-block;
    margin:10px 10px 10px 10px;
}
nav a {
	font-weight:bold;
    text-decoration:none;
	color:#4a86d9;
	font-size: 14px;
}
nav a:hover {
	text-decoration:underline;
    color:#2ca9e4
}
#sheme {
	float:right; 
	margin: 20px;
	margin:10px 10px 10px 10px;
}
#sheme a {
	font-weight:bold;
	margin:10px 10px 10px 10px;
	color:#55bce7; 
	text-decoration: none;
	border-bottom: 1px dashed #55bce7;
	font-size: 14px;	 
}
#sheme a:hover {
	border-bottom: none;
}
.clear {
	clear:both;
}
.carousel {
	width:100%;
	margin:10px auto 70px auto;
}
.carousel-indicators {
	bottom: -70px;
	left:46%;
}
.carousel-indicators li {
	height: 18px;
	width: 18px;
	margin:0px 5px 0px 5px;
	padding: 5px;
	border-radius: 18px;
	color: #8b8c8e;
	background-color: #8d8e90;
	box-shadow: 0.3px 0.3px 3px rgba(0, 0, 0, 0.5);
}
.carousel-inner {
	border:1px solid;
}
.carousel-indicators li{
	border: 3px solid #fff;
}
.carousel-indicators .active {
	background-color: #fff;
	margin:0px 5px 0px 5px;
	height: 18px;
	width: 18px;
	background: #1686e0;

}
.item img {
	text-align: center;
}
.item {
	position: relative;
}
.thirst {
	width:100%;
	margin:5px auto; 
	padding:10px 2px 10px 2px;
	font-weight: bolder;
}	
.dalee a {
	color:#2ca9e4;
	text-decoration:underline;
	font-size:12px;
	position:absolute;
	bottom:10px; 
	right:4px;
	font-size:16px;
	margin-top: 5px;
}
.dalee1 a {
	color:#2ca9e4;
	text-decoration:underline;
	font-size:16px;	
}
.otzyvy p.dalee1{
	text-align: right;
}
.advant {
    color:black;
	background-image: url(../images/nomera.jpg);
	background-repeat: no-repeat;
	background-position:left center;
	height:280px;
}	
.advant ul { 
	margin-top:0px;
	padding-top:0px; 
	padding-left:10px;
}
.advant ul li {
   margin:10px 0;
   font-size: 14px;
}
.otzyvy {
	height:130px;
	position:relative;
}
.otzyvy p {
	position:relative;
	font-size: 14px;
	text-align:justify;
}
#news p {
	height:130px;
	position:relative;
	font-size: 14px;
}

.pic {
	float:left;
	width:30%; 
	height:100%;
	margin:10px auto; 	
}
.pic img {
	max-width:100%;
}
.text {
	float:right;
	width:70%;
	height:100%;
	font-size: 14px !important;
 }
.lefts {
	width:60%;
	float:left;
	padding-right:15px;
}
aside {
	width:40%;
	float:right;
	padding-left: 10px;
}
aside ul {
	display:block;
}
aside ul li {
	position:relative;
	display:inline-block;		
}
#news {
	padding-left:20px;
}
.bloki {
	height:330px;
	width:100%;
	margin:0px auto;
}

#grey i {
	color:#fde101;
}
#blue i {
	color:#18bdd1;
}
#pink i {
	color:#78cd1a;
}
#yellow i {
	color:#e360d2;
}
#green i {
	color:#dc1f26;
}
.bloki ul {
	margin:5px auto;
}
.bloki ul li {
	height:295px;
	width:19%;
	margin: 5px 0% 5px 1.25%;
	padding:5px 5px 5px 5px;
	display:block;
	float:left;
	position:relative;
}
.bloki ul li:first-child {
	margin-left:0%;
}

.slider_caption {
	font-size: 24px;
	color: #1f1f1f;
	font-weight: 100;
}
.carousel-caption {
	right:15%;
	top:100px;
	left: auto;
	padding-bottom: 40px;
	letter-spacing: 1.15px;
	text-shadow: none;
	width: 25%;
	text-align: left;

}
.carousel-caption strong {
	color:#4a86d9;
}

.btn {
	width: 120px;
	margin-top: 20px;
	background-color: #4a86d9;
}
.bloki ul li a {
	display:block;			
	
	background-color:#ffffff; 	
	padding: 7px 13px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    right: 35px;
}
.bloki ul li h1,.bloki li h2 {
	text-align:center; 
	font-weight:bold;
	color:#ffffff;
}
.bloki ul li h1 {
	padding-top:10px;
	font-size: 22px;
}
.bloki ul li p {
	font-weight:bold;
	color:#ffffff; 
	font-size:12px;
	padding:15px 13px;
}

.bloki li h2 {
	font-size: 18px;
	border-bottom: 1px solid #fff;
	margin:0px 15px;
	padding-bottom: 15px; 
}
.fa {
	color:#fde101;
	font-size: 14px;    
}
#grey {
	background-color:#fde101;
}
#blue {
	background-color:#18bdd1;
}
#pink {
	background-color:#78cd1a;
}
#yellow {
	background-color:#e360d2;
}
#green {
	background-color:#dc1f26;
}	
.smallslider {
	height:100px;
	width:100%;
	background-color:#dbe7f7;  
 }
footer {
    margin:10px auto;
    height: 50px;
    background:#ffffff;
    font-size:14px;	
    position: absolute;
    bottom: 0;
    right: 0.5%;
    left: 0.5%;
}
.helper{
	height: 70px;
	width: 100%;
}
footer ul {
	float:right;	
}
footer ul li {
	display:inline-block;
    margin:10px 10px 40px 10px;
	float:right;
}
footer a {
	font-weight:bold;
    text-decoration:none;
	color:#000000
}
footer a:hover {
	text-decoration:underline;
    color:#2ca9e4
}
.copy {
	float:left;
	font-weight:bold;
	margin:10px 10px 40px 10px;
	font-size: 14px;
	span {
		font-size: 14px !important;	
	}
}

ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px;
	padding: 0;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded-list li {
	position: relative;
	display: block;
	padding: .4em .4em .4em 0;
	*padding: .4em;
	text-decoration: none;
}
.rounded-list li:before {
	content: counter(li);
	counter-increment: li;
	margin-right: 10px;
	color: white;
	background-color: #2ca9e4;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	padding: 1px 7px;
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
}
.null{
	clear: both;
}
/*************   style for carousel **************/
#intro {
	width: 580px;
	margin: 0 auto;
}
.wrapper {
	background-color: white;
	width: 480px;
	margin: 40px auto;
	padding: 50px;
	box-shadow: 0 0 5px #999;
}
.list_carousel {
	background-color: #dbe7f7;
	margin: 0px;
	width: 100%;
	position: relative;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	color: #999;
	text-align: center;	
	margin: 8px 6px 6px 6px;
	display: block;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	min-width: 185px;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}

.prev {
	float: left;
	margin-left: 10px;
	position: absolute;
	left: 10px;
	margin-top: -15px;
	top: 50%;
	padding: 5px 10px;
	border-radius: 25px;
	background-color: #4a86d9;
}
.next {
	float: right;
	margin-right: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	padding: 5px 10px;
	border-radius: 25px;
	background-color: #4a86d9;
}	
.prev > .fa, .next > .fa {
	color: #dbe7f7;
}

.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
/******** END *********/

#foo2 {
	width: 100%;
}
.caroufredsel_wrapper {
	width: 100%;
	min-width: 950px;
	margin: 0 auto !important;
}
/*.............................SERVICE................*/
.polosa {
	color: #fff !important;
	
	margin: 5px 0 21px 0;;
}
.polosa span, .polosa a {
	.for-inline-block;
	color: #fff;
	margin: 3px 0;
	font-size: 17px;
}
.polosa a {
	padding: 3px 20px 0px 20px; 
	font-size: 19px;
}
.polosa span {
	padding: 3px 20px 0px 20px; 

}
	
.polosa  .fa {
	color: #fde101;	
	background-color: #fff;
	border-radius: 25px;
	padding: 5px 7px;
}	
.polosa  .fa#pink_color{
	color: #e360d2;
}
.polosa  .fa#blue_color{
	color: #37c6d7;
}
.polosa  .fa#yellow_color{
	color: #e360d2;
}
#serv {
	background-color: #fde101;
}
#s_txt {
	
	font-weight: bold;
}
#s_txt h1 {
	color: #18bdd1;
	font-size: 19px;
	text-align: center;
}

select {
	width:100%;
	padding: 8px;		
}
.s_img {
	width:28%;
	float:left;
} 
#s_txt {
	width:70%;
	margin-left: 2%;
	float:right;
}
#s_txt input {
	width:20%;
	margin:3%;
}
#s_txt_m {
	font-size: 19px;
	font-weight: bold;
	width:60%;
	margin-left: 5%;
}
// img {
// 	width: 100%;
// 	height: 100%;
// }
#serv2 {
	background-color: #37c6d7;
}
.n_content h1 {
	font-size: 24px;
	color: #4a86d9;
}
.stroka {
	margin-top: 20px;
}
.n_left {
	width: 25%;
	color: #4a86d9;
	font-size: 19px;
	float: left;
	margin-right: 2%;
	img{
		max-width: 100%;
	}
}

.n_right {
	width: 73%;
	float: right;
}
.rew_left {
	width: 10%;
	float: left;
}
.rew_right {
	width: 70%;
	float: right;
}
.company {
	color: #4a86d9;
}
.otzyv {
	margin-bottom: 15px;
}
#serv3 {
	background-color: #e360d2;
}
.choice {
	.c1 {
		float: left;
		width: 30%;
		margin-left: 5%;
		&:first-child{
			margin-left: 0;
		}
	}
	
	.grey {
		color: #bdbdbd;
		font-size: 15px;
	}
}

#s_txt input.raschet {
	background-color: #18bdd1;
	color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	padding: 6px;
	margin-left: 0;
	border: none;

}
.polosa ul{
	padding: 5px 0;
	li{
		display: block;
		float: left;
		a{
			color: #fff;
			font-size: 17px;
		}
		i{
			font-size: 11px;
			color: #fde101;

		}
	}
	li.empty{
		background: #fff;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		width: 21px;
		text-align: center;
		margin-top: 4px;
	}
}

/*========================================================
                  map map map map
========================================================*/
.map {
	width: 100%;
	height: 270px;
	margin: 10px 0px;
}	
.contact_content {
	margin: 20px 20px;
}



.contact_content h2 {
	font-size: 19px;
	color: #4a86d9;
	margin: 10px 0;
}
.contact_content h3 {
	font-size: 17px;
	color: #4a86d9;
	margin: 15px 0 10px 0;
}

.kontakt_info {
	width: 38%;
	float: left;
	margin-right: 2%;
	
}

.obratnaya_svyaz {
	width: 60%;
	float: right;
	
}
	
.null {
	clear: both;
}
#inputArea {
	text-align: justify;
}
#inputArea input {
	float: left;	
	display: inline-block;
    font-family: Arial, Sans-Serif;
	font-size: 13px;
	padding: 4px;
	border: 1px solid #989898;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    width: 32%;
    margin-left:2%; 

}
#inputArea input:first-child {
	margin-left:0%; 
}
.wrap-message textarea {
	margin: 20px 0;
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	padding: 4px;
	border: 1px solid #989898;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    width: 100%;
}
.submit-button {
	float: right;
	color: #fff;
	background-color: #4a86d9;
	padding:3px 5px;
	font-size: 16px;
	border: none;
}



/* ================================================================ 
           МЕНЮ МЕНЮ МЕНЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮЮ
=================================================================== */
.content_data {

}
.menu { 
	font-family: arial, sans-serif; 
	width:170px; 	 
	position:relative; 	 
	font-size:14px; 
	margin-top:20px;
	margin-left:20px;
	float: left;
	display: inline-block;
}
.menu ul li a, .menu ul li a:visited { 
	display:block; 
	text-decoration:none; 	 
	width:170px; 
	height:30px; 
	text-align:center; 
	border:1px solid #BD3853; 
	border-width:1px 1px 0 0; 
	background:#dc1f26; 
	line-height:19px; 
	font-size:14px;
	color:#fff; 
}
.menu ul { 
	padding:0; 
	margin:0; 
	list-style-type: none; 
}
.menu ul li { 
	float:left; 
	margin-right:1px; 
	position:relative; 
}
.menu ul li ul, .menu ul li:hover ul li ul{ 
	display: none; 
}
.menu ul li:hover a, .menu ul li:hover ul li a:hover, .menu ul li:hover ul li:hover ul li a:hover  { 	 
	background:#a90b11; 
}
.menu ul li:hover ul { 
	display:block; 
	position:absolute; 
	top:0; 
	left:171px; 
	width:170px; 
}
.menu ul li:hover ul li a { 
	background:#dc1f26; 	 
}
.menu ul li:hover ul li:hover a { 
	width:170px; 
}
.menu ul li:hover ul li a { 
	display:block; 
	background:#dc1f26; 	 
	width:170px; 
}

.menu ul li:hover ul li:hover ul { 
	display:block; 
	position:absolute; 
	left:171px; 
	top:0; 	 
}
.menu ul li:hover ul li:hover ul li a { 
	display:block; 
	width:170px; 
	background:#dc1f26; 	 
}

/******************** end menu *******************/

/******************** table **************************/
.table {
	width: 500px;
	margin: 20px;
	border: 1px solid #000;
	float:right;
	display: inline-block;
	border: 1px solid #919191;
	background-color:#ffffff;
	color: #393939;
}
.row {
	border-top: 1px solid #919191;
	padding: 5px;
}
.row:nth-child(odd) {
	background-color:#f2f2f2;
}
.cell1 {
	width: 40%;
}
.cell2 {
	width: 60%;
}
.polosa.news#serv3{
	background: #4a86d9;
	i{
		color: #4a86d9;	
	}
}

/******************** end  table **************************/